/* my font */
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&display=swap');

/* my css variables */

:root {
  --primary-color: #FF6464;
  --secondary-color: #00A8CC;
  --dark-color: #21243D;
  --light-color: #8695A4;
  --blog-bg: #EDF7FA;

  --heebo-font: 'Heebo', sans-serif;
}

/*** extra small screen */
@media (max-width: 374px) {
  .container {
    height: auto !important;
    width: 100%;
    padding: 0 10px;
  }
}

@media (max-width: 1024px) {
  header nav ul li {
    display: none;
  }
}

@media only screen and (min-width: 375px) and (max-width: 575px) {
  .container {
    padding: 0 20px;
    margin: 0 auto;
  }

  header nav .navbar-brand {
    display: none;
  }

  main .container {
    padding: 200px 0 0 0;
  }

  main .aside-rule {
    display: block !important;
    width: 350px;
    margin: 0 auto;
  }
  
  main .my-description {
    width: 100%;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
  }

  main .my-description .heading {
    width: 100%;
    text-align: center;
    font-size: 30px;
    line-height: 48px;
    margin-bottom: 20px;
  }
  
  main .my-description .short-paragraph {
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 0;
    margin-bottom: 20px;
  }

  main .my-photo {
    width: 100%;
  }

  main .my-photo img {
    position: absolute;
    width: 200px;
    height: 200px;
    object-fit: cover;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  main .cta-resume .btn-download {
    display: block;
    margin: 0 auto;
    font-weight: 500;
    color: #fff;
    padding: 1.25rem 2rem;
    border: none;
    cursor: pointer;
  }
  
  main .cta-resume .btn-download:hover {
    background-color: var(--dark-color);
    color: #000;
  }


  /******************************************************************/
  /* Blog RESPONSIVE */

  article {
    padding: 20px 0;
  }

  article #blog {
    width: 100%;
    height: auto;
    padding: 4px 0 100px 0;
  }

  article #blog .blog-information {
    display: flex;
    justify-content: center;
    padding: 18px 0;
  }

  article #blog .blog-information .recent-posts span {
    font-size: 22px;
    line-height: 60px;
    color: var(--dark-color);
  }

  article #blog .blog-information .view-all a {
    display: none;
  }

  article #blog .new-articles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }

  article #blog .new-articles .card-article {
    width: 100%;
    height: auto;
    background-color: #fff;
    padding: 26px;
    border-radius: 24px;
  }

  article #blog .new-articles .card-article .card-header {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
  }

  article #blog .new-articles .card-article .card-header .additional-info {
    color: var(--dark-color);
  }

  article #blog .new-articles .card-article .card-header .additional-info h2 {
    font-size: 26px;
    font-weight: 700;
  }

  article #blog .new-articles .card-article .card-header .additional-info .date {
    font-size: 15px;
    font-weight: 400;
    display: inline-block !important;
  }

  article #blog .new-articles .card-article .card-header .additional-info .category {
    font-size: 15px;
    font-weight: 400;
    display: inline-block !important;
  }

  article #blog .new-articles .card-body {
    color: var(--dark-color);
  }

  article #blog .new-articles .card-body p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
  }


  /* Works style */

  article #works {
    width: 100%;
    height: auto;
    padding: 10px 0;
  }

  article #works .works-information {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 14px;
    margin-bottom: 20px;
  }

  article #works .works-project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 0;
  }

  article #works .works-project .project-image {
    width: 100%;
    height: auto;
    padding: 24px 0;
  }

  article #works .works-project .project-image img {
    width: 100%;
    height: auto;
  }

  article #works .works-project .project-description {
    width: 100%;
    height: auto;
    margin-top: -32px;
    padding: 26px 0;
    color: var(--dark-color);
  }

  article #works .works-project .project-description h2 {
    font-size: 24px;
    font-weight: 700; 
    margin-bottom: 16px;
  }

  article #works .works-project .project-description .more-info {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-bottom: 16px;
  }

  article #works .works-project .project-description .more-info .pill {
    width: 70px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    border-radius: 40px;
    background-color: var(--dark-color);
  }

  article #works .works-project .project-description .more-info .category {
    height: 30px;
    color: var(--light-color);
    font-size: 20px;
    font-weight: 400;
  }

  article #works .works-project .project-description .project-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
  }

  .custom-horizontal-line {
    max-width: 1200px;
    margin: -12px auto 50px auto;
    padding: 0.5px;
    height: 1px;
    background-color: #cfd4da;
  }

  footer {
    padding: 80px 0 40px 0;
  }

  footer #contact .copyright {
    text-align: center;
    font-size: 15px;
    color: var(--dark-color);
  }

  footer #contact .copyright .my-github-link {
    text-decoration: none;
    font-size: 15px;
    color: #000;
    font-weight: bold;
  }

}

@media only screen and (min-width: 576px) and (max-width: 720px) {
  .container {
    padding: 0 20px;
    margin: 0 auto;
  }

  header nav .navbar-brand {
    display: inline;
  }

  main .container {
    padding: 150px 0 0 0;
  }

  main .aside-rule {
    display: block !important;
    width: 350px;
    margin: 0 auto;
  }
  
  main .my-description {
    width: 100%;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
  }

  main .my-description .heading {
    width: 100%;
    text-align: center;
    font-size: 30px;
    line-height: 48px;
    margin-bottom: 20px;
  }
  
  main .my-description .short-paragraph {
    width: 150%;
    text-align: center;
    font-size: 18px;
    padding: 0;
    margin-bottom: 20px;
  }

  main .my-photo {
    width: 100%;
  }

  main .my-photo img {
    position: absolute;
    width: 250px;
    height: 250px;
    object-fit: cover;
    top: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  main .cta-resume .btn-download {
    display: block;
    margin: 0 auto;
    font-weight: 500;
    color: #fff;
    padding: 1.25rem 2rem;
    border: none;
    cursor: pointer;
  }
  
  main .cta-resume .btn-download:hover {
    background-color: var(--dark-color);
    color: #000;
  }



  /******************************************************************/
  /* Blog RESPONSIVE */

  article {
    padding: 20px 0;
  }

  article #blog {
    width: 100%;
    height: auto;
    padding: 4px 0 100px 0;
  }

  article #blog .blog-information {
    display: flex;
    justify-content: center;
    padding: 18px 0;
  }

  article #blog .blog-information .recent-posts span {
    font-size: 22px;
    line-height: 60px;
    color: var(--dark-color);
  }

  article #blog .blog-information .view-all a {
    display: none;
  }

  article #blog .new-articles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }

  article #blog .new-articles .card-article {
    width: 100%;
    height: auto;
    background-color: #fff;
    padding: 26px;
    border-radius: 24px;
  }

  article #blog .new-articles .card-article .card-header {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
  }

  article #blog .new-articles .card-article .card-header .additional-info {
    color: var(--dark-color);
  }

  article #blog .new-articles .card-article .card-header .additional-info h2 {
    font-size: 26px;
    font-weight: 700;
  }

  article #blog .new-articles .card-article .card-header .additional-info .date {
    font-size: 15px;
    font-weight: 400;
    display: inline-block !important;
  }

  article #blog .new-articles .card-article .card-header .additional-info .category {
    font-size: 15px;
    font-weight: 400;
    display: inline-block !important;
  }

  article #blog .new-articles .card-body {
    color: var(--dark-color);
  }

  article #blog .new-articles .card-body p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
  }


  /* Works style */

  article #works {
    width: 100%;
    height: auto;
    padding: 10px 0;
  }

  article #works .works-information {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 14px;
    margin-bottom: 20px;
  }

  article #works .works-information .featured-works span {
    font-size: 22px;
    line-height: 50px;
    color: var(--dark-color);
  }

  article #works .works-project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 0;
  }

  article #works .works-project .project-image {
    width: 100%;
    height: auto;
    padding: 24px 0;
  }

  article #works .works-project .project-image img {
    width: 100%;
    height: auto;
  }

  article #works .works-project .project-description {
    width: 100%;
    height: auto;
    margin-top: -32px;
    padding: 26px 0;
    color: var(--dark-color);
  }

  article #works .works-project .project-description h2 {
    font-size: 24px;
    font-weight: 700; 
    margin-bottom: 16px;
  }

  article #works .works-project .project-description .more-info {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-bottom: 16px;
  }

  article #works .works-project .project-description .more-info .pill {
    width: 70px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    border-radius: 40px;
    background-color: var(--dark-color);
  }

  article #works .works-project .project-description .more-info .category {
    height: 30px;
    color: var(--light-color);
    font-size: 20px;
    font-weight: 400;
  }

  article #works .works-project .project-description .project-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
  }

  .custom-horizontal-line {
    max-width: 1200px;
    margin: -12px auto 50px auto;
    padding: 0.5px;
    height: 1px;
    background-color: #cfd4da;
  }

  footer {
    padding: 20px 0 40px 0;
  }

  footer #contact .copyright {
    text-align: center;
    font-size: 15px;
    color: var(--dark-color);
  }

  footer #contact .copyright .my-github-link {
    text-decoration: none;
    font-size: 15px;
    color: #000;
    font-weight: bold;
  }
}

@media only screen and (min-width: 721px) and (max-width: 930px) {
  .container {
    padding: 0 20px;
    margin: 0 auto;
  }

  header nav .navbar-brand {
    display: inline;
  }

  main .container {
    padding: 150px 0 0 0;
  }

  main .aside-rule {
    display: block !important;
    width: 350px;
    margin: 0 auto;
  }
  
  main .my-description {
    width: 100%;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
  }

  main .my-description .heading {
    width: 100%;
    text-align: center;
    font-size: 30px;
    line-height: 48px;
    margin-bottom: 20px;
  }
  
  main .my-description .short-paragraph {
    width: 150%;
    text-align: center;
    font-size: 18px;
    padding: 0;
    margin-bottom: 20px;
  }

  main .my-photo {
    width: 100%;
  }

  main .my-photo img {
    position: absolute;
    width: 250px;
    height: 250px;
    object-fit: cover;
    top: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  main .cta-resume .btn-download {
    display: block;
    margin: 0 auto;
    font-weight: 500;
    color: #fff;
    padding: 1.25rem 2rem;
    border: none;
    cursor: pointer;
  }
  
  main .cta-resume .btn-download:hover {
    background-color: var(--dark-color);
    color: #000;
  }



  /******************************************************************/
  /* Blog RESPONSIVE */

  article {
    padding: 20px 0;
  }

  article #blog {
    width: 100%;
    height: auto;
    padding: 4px 0 100px 0;
  }

  article #blog .blog-information {
    display: flex;
    justify-content: center;
    padding: 18px 0;
  }

  article #blog .blog-information .recent-posts span {
    font-size: 22px;
    line-height: 60px;
    color: var(--dark-color);
  }

  article #blog .blog-information .view-all a {
    display: none;
  }

  article #blog .new-articles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }

  article #blog .new-articles .card-article {
    width: 100%;
    height: auto;
    background-color: #fff;
    padding: 26px;
    border-radius: 24px;
  }

  article #blog .new-articles .card-article .card-header {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
  }

  article #blog .new-articles .card-article .card-header .additional-info {
    color: var(--dark-color);
  }

  article #blog .new-articles .card-article .card-header .additional-info h2 {
    font-size: 26px;
    font-weight: 700;
  }

  article #blog .new-articles .card-article .card-header .additional-info .date {
    font-size: 15px;
    font-weight: 400;
    display: inline-block !important;
  }

  article #blog .new-articles .card-article .card-header .additional-info .category {
    font-size: 15px;
    font-weight: 400;
    display: inline-block !important;
  }

  article #blog .new-articles .card-body {
    color: var(--dark-color);
  }

  article #blog .new-articles .card-body p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
  }


  /* Works style */

  article #works {
    width: 100%;
    height: auto;
    padding: 10px 0;
  }

  article #works .works-information {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 14px;
    margin-bottom: 20px;
  }

  article #works .works-information .featured-works span {
    font-size: 22px;
    line-height: 50px;
    color: var(--dark-color);
  }

  article #works .works-project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 0;
  }

  article #works .works-project .project-image {
    width: 100%;
    height: auto;
    padding: 24px 0;
  }

  article #works .works-project .project-image img {
    width: 100%;
    height: auto;
  }

  article #works .works-project .project-description {
    width: 100%;
    height: auto;
    margin-top: -32px;
    padding: 26px 0;
    color: var(--dark-color);
  }

  article #works .works-project .project-description h2 {
    font-size: 24px;
    font-weight: 700; 
    margin-bottom: 16px;
  }

  article #works .works-project .project-description .more-info {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-bottom: 16px;
  }

  article #works .works-project .project-description .more-info .pill {
    width: 70px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    border-radius: 40px;
    background-color: var(--dark-color);
  }

  article #works .works-project .project-description .more-info .category {
    height: 30px;
    color: var(--light-color);
    font-size: 20px;
    font-weight: 400;
  }

  article #works .works-project .project-description .project-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
  }

  .custom-horizontal-line {
    max-width: 1200px;
    margin: -12px auto 50px auto;
    padding: 0.5px;
    height: 1px;
    background-color: #cfd4da;
  }

  footer {
    padding: 20px 0 40px 0;
  }

  footer #contact .copyright {
    text-align: center;
    font-size: 15px;
    color: var(--dark-color);
  }

  footer #contact .copyright .my-github-link {
    text-decoration: none;
    font-size: 15px;
    color: #000;
    font-weight: bold;
  }
}

@media only screen and (min-width: 931px) and (max-width: 1280px) {

}