/* my font */
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&display=swap');

/* my css variables */

:root {
  --primary-color: #FF6464;
  --secondary-color: #00A8CC;
  --dark-color: #21243D;
  --light-color: #8695A4;
  --blog-bg: #EDF7FA;

  --heebo-font: 'Heebo', sans-serif;
}

@media only screen and (max-width: 575px) {
  .container {
    width: 480px;
    padding: 0 20px;
    margin: 0 auto;
  }

  header nav {
    display: none;
  }

  main .container {
    padding: 200px 0 60px 0;
    display: flex !important;
    flex-direction: column !important;
  }
  
  main .my-description {
    width: auto;
    height: auto;
    position: relative !important;
  }

  main .my-description .heading {
    width: 100%;
    padding: 0 20px;
    font-size: 32px;
    text-align: center;
    line-height: 45px;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  main .my-description .short-paragraph {
    background-color: #FF6464;
    width: 100%;
    text-align: center;
    font-size: 16px;
    padding: 1rem 0;
    position: absolute;
  }

  main .my-photo {
    width: 100%;
  }

  main .my-photo img {
    position: absolute;
    width: 200px;
    height: 200px;
    object-fit: cover;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
  }



}