/* my font */
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&display=swap');

/* my css variables */
:root {
  --primary-color: #FF6464;
  --secondary-color: #00A8CC;
  --dark-color: #21243D;
  --light-color: #8695A4;
  --aside-bg: #EDF7FA;

  --heebo-font: 'Heebo', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--heebo-font);
  font-size: 16px;
  background-color: #FFFFFF;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  /* background-color: #aeaeae; */
  padding: 10px 0;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav .navbar-brand {
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 4px;
}

header nav .navbar-brand a {
  color: #000;
  text-decoration: none;
}

header nav .navbar-list {
  display: flex;
  align-items: center;
  gap: 32px;
  list-style: none;
}

header nav .navbar-list .navbar-item {
  font-size: 20px;
  font-weight: 500;
  color: #000;
  text-decoration: none;
  font-family: var(--heebo-font);
}
